@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@500&family=Dancing+Script:wght@600&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Josefin+Sans:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: linear-gradient(to left ,rgba(58, 37, 37, 0.5), rgba(27, 6, 6, 0.5)),url('bg2.jpg');
}
h1{
    text-align: center;
    background-color: rgb(52, 28, 28);
    color: rgba(245, 245, 245,0.5);
    font-size: 30px;
    font-weight: 500;
    padding: 5px;
    margin: 5px;
}
img{
    margin: 18px; 
    width: auto;
    height: 500px;
}
button{
    margin: 5px 15px;
    padding: 5px 10px;
    font-size: 20px;
    color: rgba(245, 245, 245,0.5);
    background-color: rgb(52, 28, 28);
    border-radius: 15px;
}
@media only screen and (min-width: 1024px) {
    img{
        margin-left: 40%; 
    }
    button{
        margin-left: -30%;
        padding: 5px 15px;
    }
}
